*{
padding: 0;
margin: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: #333;

   
}
.hero{
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
    width: auto;
    height: 80vh;
    background-color: #fff;
}
.container{
    width: 200px;
    height: 200px;
    background-color: #fff;
}
.box-wraper{
    cursor: pointer;
    transition: transform 0.2s ease;
}
.triangle{
    width: 0px;
    height: 0px;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    
  }

  .red{ 
    border-top: 100px solid red;  
  }
  
  .blue{ 
    border-top: 100px solid blue;
    -webkit-transform: rotate(180deg);
  }
  .green{ 
    border-top: 100px solid green;
    -webkit-transform: rotate(270deg);
    position: absolute;
    top:50px;
    margin-left: -50px;
  }
  .yellow{ 
    border-top: 100px solid yellow;
    -webkit-transform: rotate(90deg);
    position: absolute;
    top:50px;
    margin-left: 50px;
  }
  .circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
  }

  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }